{% extends 'base.html' %}
{% load static %}
{% block body %}

<h1>House List</h1>
    <ul>
        {% for property in properties %}
          
            
             <h3>{{property.title}}</h3>
              <div id="propertyCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% for image in property.images.all %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ image.image.url }}"  alt="Property Image" style="width: 50%; height: 300px;">
            </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#propertyCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#propertyCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
                        <p>Address: {{property.address}}</p>
                        <p>Price: ${{property.price}}/month</p>
                        
            
        {% endfor %}
    </ul>
    

    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
    // Initialize Bootstrap Carousel
    $(document).ready(function(){
        $('#propertyCarousel').carousel();
    });
</script>
{% endblock %}