{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container mt-5">
    <h1>Welcome, {{logged_user}}!</h1>

    <div class="container mt-5">
        <h2>Create a New Home Post</h2>
        <!-- Button to redirect -->
        <a href="{% url 'properties:create' %}" class="btn btn-primary">Create</a>
    </div>
    <!-- Functionality to check how many renters are interested -->
    <div class="mt-5">
        <h2>Interested Renters</h2>
        <p>Number of renters interested: <span id="interestedCount">0</span></p>
        <button class="btn btn-secondary" id="checkInterested">Check Interested Renters</button>
    </div>

    <!-- Functionality to see all posts -->
    <div class="mt-5">
        <h2>All Posts</h2>
        <div class="row">
            {% for post in properties %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{post.image.url}}" class="card-img-top" alt="Post Image">
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text">{{post.caption}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
