<html>
    <head>
        <title>Registration Page</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1>Registration Form</h1>
                    <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group">
                        <label for="firstName">First Name: </label> 
                        <span style="display: flex;">
                            <input type="text" name="firstName" class="form-control" placeholder="e.g. Ayush" required>
                            
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name: </label> 
                        <span style="display: flex;">
                            <input type="text" name="lastName" class="form-control" placeholder="e.g. Jadhav" required>
                            
                        </span>
                    </div>
                     <div class="form-group">
                        <label for="email">Email: </label> 
                        <span style="display: flex;">
                            <input type="email" name="email" class="form-control" placeholder="e.g. abc@gmail.com" required>
                            
                        </span>
                    </div>
                    <div class="form-group">
                                 <label for="password">Password: </label> 
                        <span style="display: flex;">
                                    <input type="password" id="password" name="password" placeholder="Password" required>
                                </span>
                    </div>
                    <div class="form-group">
                    <label for="password_retype">Retype Password:</label><br>
                    <input type="password" id="password_retype" name="password_retype" required><br>
                    <span id="password_match" style="color:red; display:none;">Passwords do not match!</span><br><br>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number: </label> 
                        <div class="input-group">
                            <span class="input-group-addon">
                                <select id="country_code" name="country_code" class="form-control">
                                    <option value="+1">+1</option>
                                    <option value="+91">+91</option>
                                    <option value="+353">+353</option>
                                </select>
                            
                            <input type="text" name="phone" class="form-control" placeholder="e.g. 999999999" required>
                            
                        </span>
                    </div>
                    <div class="form-group">
                        <label>User Type:</label>
                        <div class="radio">
                            <label><input type="radio" name="user_type" value="lender" checked> Lender</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="user_type" value="renter"> Renter</label>
                        </div>
                    </div>
                    <button type="submit" id="register_button" class="btn btn-primary" style="width: 200px;"><i class="fa fa-plus"></i> Register</button>
                </form>
                </div>
            </div>
        </div>
        
        
        <script>
        document.getElementById("register_button").addEventListener("click", function(event){
            var password = document.getElementById("password").value;
            var passwordRetype = document.getElementById("password_retype").value;
            if (password != passwordRetype) {
                event.preventDefault();
                document.getElementById("password_match").style.display = "block";
            }
        });
        </script>
    </body>
</html>